---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
---
<Layout title="Recien agregados.">
  <main>
    <Header/>
    <ul class="flex flex-row mx-auto items-center md:ml-auto md:mr-auto flex-wrap text-base justify-center">
      <li class="border-2 border-stone-700 dark:border-stone-300 h-64 w-full p-4 mx-9 mt-10 rounded-lg">
        <a href="">
          <h2 class="text-5xl">
            Recien agregados
            <span>&rarr;</span>
          </h2>
          <p class="text-3xl">Hola mundo</p>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
      <li>
        <a href="">
          <h2><span></span></h2>
        </a>
      </li>
    </ul>
  </main>
</Layout>
