---
import LinkCard from "./LinkCard.astro";
---
<div class="p-10">
  <ul class="flex flex-row mx-auto items-center md:ml-auto md:mr-auto flex-wrap text-base justify-center">
    <LinkCard title="Caso #1 Pogo el payaso" body="Hola mundo" href="/posts/post"/>
    <LinkCard title="Caso #1 Pogo el payaso" body="Hola mundo" />
    <LinkCard title="Caso #1 Pogo el payaso" body="Hola mundo" />
    <LinkCard title="Caso #1 Pogo el payaso" body="Hola mundo" />
    <LinkCard title="Caso #1 Pogo el payaso" body="Hola mundo" />
    <LinkCard title="Caso #1 Pogo el payaso" body="Hola mundo" />
    <LinkCard title="Caso #1 Pogo el payaso" body="Hola mundo" />
    <LinkCard title="Caso #1 Pogo el payaso" body="Hola mundo" />
  </ul>
</div>
