<script src="./js/typed.mjs"></script>
<script src="./js/WelcomeTime.js"></script>

<div class="font-black text-4xl text-center">
  <span id="saludo"></span> <br/>
  Bienvenios a mi blog 
  <h1>
    <span class="text-red-700">"Bajo del radar"</span>
    <br> 
    Donde encontraras casos de 
    <span id="typed"></span>
  </h1>
</div>
